In [4]:
import pandas as pd
import numpy as np

In [ ]:
data1 = pd.read_csv("C:/Users/LAKSHYA PALIWAL/Vehicle-Insurance-Agent/data/car_data_20250728_032924.csv")
data2 = pd.read_csv("C:/Users/LAKSHYA PALIWAL/Vehicle-Insurance-Agent/data/car_data_20250728_100907.csv")
data3 = pd.read_csv("C:/Users/LAKSHYA PALIWAL/Vehicle-Insurance-Agent/data/car_data_20250728_101745.csv")

In [6]:
df = pd.concat([data1,data2,data3], ignore_index=True)

In [12]:
df.head()

,manufacturer,model_name,variant_name,manufacturing_year,showroom_price,fuel_type,engine_capacity_cc,body_type,seating_capacity,transmission,power_bhp,torque_nm,mileage_kmpl,safety_rating,features
0,Tesla,Model Y,Model Y,2025,₹59.89 - 73.89 Lakh,Electric,0.0,SUV,5.0,Automatic,295 bhp,Not Available,Not Applicable,Not Available,"Cruise Control, Alloy Wheels, Rear AC Vents, A..."
1,Rolls-Royce,Phantom,Phantom,2025,₹8.99 - 10.48 Cr,Petrol,6749.0,Sedan,5.0,Automatic,563,NaN,9.8,NaN,"Luxury interior, Advanced safety features, Hig..."
2,Rolls-Royce,Cullinan,Cullinan,2025,₹10.50 - 12.25 Cr,Petrol,6750.0,SUV,5.0,Automatic,563,NaN,6.6,NaN,"All-wheel drive, Luxury interior, Advanced saf..."
3,Rolls-Royce,Spectre,Spectre,2025,₹7.50 Cr,Electric,0.0,Coupe,4.0,Automatic,576.63,NaN,NaN,NaN,"Electric powertrain, Luxury interior, Advanced..."
4,Rolls-Royce,Ghost Series II,Ghost Series II,2025,₹8.95 - 10.52 Cr,Petrol,6750.0,Sedan,5.0,Automatic,563,NaN,NaN,NaN,"Luxury interior, Advanced safety features, Hig..."

In [8]:
df.shape

(239, 15)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   manufacturer        239 non-null    object
 1   model_name          239 non-null    object
 2   variant_name        237 non-null    object
 3   manufacturing_year  239 non-null    int64
 4   showroom_price      239 non-null    object
 5   fuel_type           239 non-null    object
 6   engine_capacity_cc  237 non-null    float64
 7   body_type           239 non-null    object
 8   seating_capacity    238 non-null    float64
 9   transmission        233 non-null    object
 10  power_bhp           239 non-null    object
 11  torque_nm           145 non-null    object
 12  mileage_kmpl        180 non-null    object
 13  safety_rating       146 non-null    object
 14  features            225 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 28.1+ KB

In [10]:
df.isnull().sum()

manufacturer           0
model_name             0
variant_name           2
manufacturing_year     0
showroom_price         0
fuel_type              0
engine_capacity_cc     2
body_type              0
seating_capacity       1
transmission           6
power_bhp              0
torque_nm             94
mileage_kmpl          59
safety_rating         93
features              14
dtype: int64

In [14]:
df.dropna(subset=['variant_name'], inplace=True)

In [15]:
print(df['variant_name'].isnull().sum())

0

In [16]:
df.isnull().sum()

manufacturer           0
model_name             0
variant_name           0
manufacturing_year     0
showroom_price         0
fuel_type              0
engine_capacity_cc     2
body_type              0
seating_capacity       1
transmission           6
power_bhp              0
torque_nm             92
mileage_kmpl          59
safety_rating         93
features              14
dtype: int64

In [20]:
df.to_csv('car_dataset_combined.csv', index=True)